
<img class="cityFlag" src="assets/img/ToledoFlag.jpg" alt="Toledo Flag">
<p>Toledo is an ancient city set on a hill above the plains of Castilla-La Mancha in central Spain. The capital of the region, it’s known for the medieval Arab, Jewish and Christian monuments in its walled old city. It was also the former home of Mannerist painter El Greco. The Moorish Bisagra Gate and the Sol Gate, in Mudéjar style, open into the old quarter, where the Plaza de Zocodover is a lively meeting place. ― Google</p>
