

<app-consulta-component></app-consulta-component>

<p>------------------------------------------</p>

<app-listado-component></app-listado-component>

<p>------------------------------------------</p>

<div>
  <table>
    <thead>
      <tr>
        <th>Madrid</th>
        <th>Toledo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><app-madrid-component></app-madrid-component> </th>
        <th><app-toledo-component></app-toledo-component> </th>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>